.Main-camera{
    display: flex;
    flex-direction: row;
    height: 576px;
    width: 1000px;
    background-color: #ffcb34;
}

.Camera-Display{
    display: flex;
    flex-direction: column;
}

.Camera-display{
    height: 288px;
    width: 512px;
    display: block;
}

.Control-display{
    display: flex;
    flex-direction: column;
}

.ButtonCapture{
    margin-left: 10px;
    margin-top: 30px;
    border-radius: 30px;
    width: 179px;
    height: 55px;
    background-color: #ff9f1f;
}
.Detail{
    margin-left: 30px;
}