.Main-camera{
    display: grid;
    grid-column: auto;
    height: 576px;
    width: 1000px;
    background-color: burlywood;
}


.Camera-display{
    height: 288px;
    width: 512px;
    display: block;
}