.Main-photo{
    display: flex;
    flex-direction: column;
    height: 576px;
    width: 1000px;
    background-color: #ffcb34;
}
.Farm-Select{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100px;
    width: 100%;
    background-color: #ff9f1f;
}

.Photo-muti{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    background-color: #ffcb34;
}
.Photo-single{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
    overflow: scroll;
}
/* .Photo-single1{
    height: 100%;
    width: 50%;
    
} */

.image-Size{
    height: 144px;
    width:256px;
}

.head{
    margin-top: 2px;
}