<head>
    ssss
</head>
<body>
    <iframe  src='http://127.0.0.1:8000/rgb' title='description' style='height:180px;width:320px'></iframe>
    <iframe  src='http://127.0.0.1:8000/noir' title='description' style='height:180px;width:320px'></iframe>
    <h1>
        hello
    </h1>
</body>